/* imported fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

/* general styling */

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Roboto, sans-serif;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
}


/* header */

header {
    background-color: #1F2937;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.top-section-and-hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75vw;
}

.header-top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    margin-bottom: 75px;
}

.header-top-section p {
    font-size: 24px;
    color: #F9FAF8;
}

.header-top-section ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.hero {
    display: flex;
    justify-content: space-between;
    margin-bottom: 75px;
    height: 20vh;
}

.hero .image {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    width: 50%;
    background-color: #6e6e6e;
    margin-left: 16px;
}

.text-and-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.text-and-button p {
    font-size: 18px;
    color: #E5E7EB
}

.hero button {
    background-color: #3882F6;
    color: #FFF;
    border: none;
    padding: 8px;
    border-radius: 5px;
    width: 18%;
    margin-top: 12px;
    font-size: large;
}

.hero button:hover {
    cursor: pointer;
}


/* main */

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}


/* random information section */

.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    margin-bottom: 75px;
}

.random-information h2 {
    text-align: center;
    margin-bottom: 35px;;
}

.random-information-boxes-and-text {
    display: flex;
    justify-content: space-between;
    width: 85%;
    gap: 24px;
    text-align: center;
}

.box-and-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #979797;
}

.box {
    height: 100px;
    width: 100px;
    border: solid #3882F6 3px;
    border-radius: 10px;
}


/* quote */

.quote-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    margin-bottom: 25px;
    padding: 50px 50px;
    height: 200px;
}

.quote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 85%;
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
}

.quote .name {
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    align-self: flex-end;
}


/* blue rectangle */

.blue-rectangle {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    width: 55%;
    height: 100px;
    margin-bottom: 25px;
    border-radius: 10px;
    color: #F9FAF8;
}

.blue-rectangle-text-and-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 80%;
}

.blue-rectangle button {
    background-color: #3882F6;
    color: #F9FAF8;
    border: solid #F9FAF8 2px;
    border-radius: 5px;
    padding: 4px;
    width: 17%;
    margin-left: 10%;
    font-size: large;
}

.blue-rectangle button:hover {
    cursor: pointer;
}


/* footer */

footer {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    margin-top: auto;
    color: #E5E7EB;
    padding: 24px;
}